/* This is the StyleSheet for GIT 414 Final Project */
/*Author: Alex Hales */

/* --------------- ADD CSS RESET TO THE FILE HERE --------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- COLOR VARIABLES ---------- */
:root{
    --apple: #D74452;
    --teal: #2D838D;
    --beige: #DAD3B7;
    --orange: #DB9F34;
    --darkOrange: #DB8E36;
    --black: #000000;
    --white: #ffffff;
}

/* ---------- GLOBAL STYLES ---------- */

/* ----- HEADINGS ----- */
h1, h2, h3, h4{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}
h1{
    visibility: hidden;
    height: 0px;
}
h2{
    font-size: 4em;
    text-align: center;
}

/* ----- MAIN/HEADER/FOOTER ----- */


/* ----- IMAGES ----- */


/* ----- Site Sections ----- */


/*--------- Small Size Menu ---------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--teal);
    padding: 12px 20px;
}
.titleName {
    font-size: 2em;
    text-decoration: none;
}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    color: var(--black);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--black);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 900px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--white);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
/*--------- End Small Size Menu ----------- */

/* ---------- SMALL SCREEN STYLES ---------- */
@media screen and (min-width: 320px) {

}
/* --------------- END SMALL SCREEN SIZES --------------- */

/* ---------- MEDIUM SCREEN STYLES ---------- */
@media screen and (min-width: 900px) {

}
/* --------------- END MEDIUM SCREEN SIZES --------------- */

/* ---------- LARGE SCREEN STYLES ---------- */
@media screen and (min-width: 1280px) {

}
/* --------------- END LARGE SCREEN SIZES --------------- */
